*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    background-color: lightyellow;
}

header{
    font-size: 60px;
    text-align: center;
}

hr{
   
    width:50%;
    text-align: center;
    margin:auto;
}

body{
    position:relative;
    left:50px;
}

div{
    font-size:30px;
}

p{
    font-size:20px;
}