*{
    margin:0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
    list-style:none;
    scroll-behavior: smooth;
}
/* for navigation bar */
.max-width{
    max-width: 1300px;
    padding: 0 80px;
    margin: auto;
}
.navbar{
    position:absolute;
    width:100%;
    background-color: #c44569;
    font-family: 'Noto Serif', serif;
    
 } 
 .navbar .max-width{
     display: flex;
     align-items: center;
     justify-content: space-between;
 }  
 .navbar h1{
     font-size: 50px;
 }   

.navbar .menu li a {
    color:black
    
 } 
 .navbar .menu li{
     font-size:25px;
     display:inline-block;
     font-weight: 500;
     margin-left:25px;
     cursor:pointer;
     
 }  
/* for navigation bar */




/* navigation bar style */

.navbar .menu li:hover{
    border: none;
    background: #ffffff;
    color: #fff;
    padding: 10px;
    font-size: 16px;
    border-radius: 5px;
    position: relative;
    box-sizing: border-box;
    transition: all 500ms ease; 
}


/* navigation bar style */





/* for intro */
.above{
    width: 90%;
    height:30%;
    margin: 1% auto;
    background: rgba(235, 161, 186, 0.6);  
    border-radius: 40px;
    border: 5px solid black;
}
.img{
    background: #c44569;
    border-radius: 50%;
    border:4px solid black;
    position:relative;
    height: auto;
    width: 32%;
    top:220px;
    left:250px;
 } 
 
 .intro{
     position: relative;
     bottom:150px;
     left:850px;
     height: 50%;
    width: 50%;
 }

 .intro p{
     font-size:30px;
     text-align: center;
 }
 .intro h2{
     font-size: 130px;
     color: #fff;
     -webkit-text-stroke: 3px black;
 }
 
 /* for intro */


 
/* about myself*/
.About-Myself h2{
    font-size: 80px;
    text-align: center;
    font-family: 'Abril Fatface', cursive;
}
hr{
    width:70vw;
    margin:auto;
    border:1px solid black;
}

.About-Myself{
    position:relative;
}

.know-me ul{
 position: relative;
left:300px;
top:20px;
    padding: 1em;
    width: 50%;
    
}
 .know-me li{
     font-size:35px;
     font-family: 'Vollkorn', serif;
     position:relative;
     right:80px;
 }

 #paragraph{
    text-align: justify;
    text-justify: inter-word;
    font-size:30px;
 }

 #paragraph{
     position: relative;
     left:600px;
     bottom:330px;
     line-height: 1.6;
 }

#paragraph span{
    position:relative;
    left: 250px;
    top: 50px;
}
/* about myself*/

/* Achievements*/
.Achievements{
    width: 90%;
    height:30%;
    margin: 1% auto;
    background: rgba(235, 161, 186, 0.6);  
    border-radius: 40px;
    border: 5px solid black;
    position:relative;
    bottom: 200px;
   
}

.Achievements h1{
    text-align: center;
    font-family: 'Abril Fatface', cursive;
    font-size: 100px;
    color: #fff;
    -webkit-text-stroke: 3px black;
}

table{
    width:1000px;
    margin-left: auto;
    margin-right: auto;
    position: relative;
    bottom:20px;
}
table, th, td {
  border:1px solid black;
  font-size: 30px;
}
/* Achievements*/


/* Skills*/
.skills h1{
    text-align: center;
    position:relative;
    bottom:100px;
}
.skills h1{
    font-size: 80px;
    font-family: 'Abril Fatface', cursive;
}

#skill1{
    font-size: 30px;
    position: relative;
    left: 500px;
}

#skill1 i{
    position:relative;
    left:100px;
}
#skill1 h3{
    position:relative;
    left:10px;
}

#skill1 p{
    position: relative;
    left:145px;
}
#skill1{
    border-radius: 12px;
    border: 4px solid black;
    width:350px;
    background-color: #c44569;
}
#skill1:hover{
    position:sticky;
    background-color: #fff;
    cursor:pointer;
    transition: all 0.6s ease;
} 


#skill2{
    font-size: 30px;
    position: relative;
    left: 1050px;
    bottom:263px;
}
#skill2{
    border-radius: 12px;
    border: 4px solid black;
    width:350px;
    background-color: #c44569;
    
}

#skill2 i{
    position:relative;
    left:100px;
    top:5px;
}
#skill2 h3{
    position:relative;
    left:30px;
}

#skill2 p{
    position: relative;
    left:150px;
}


#skilll{
    width:50vw ;
    position:relative;
    bottom:100px;
    margin:auto;
}

#skill2:hover{
    position:relative;
    background-color: #fff;
    cursor:pointer;
    transition: all 0.6s ease;
 }    

 #skill3{
    font-size: 30px;
    position: relative;
    left: 780px;
    bottom:200px;
 }
 #skill3{
    border-radius: 12px;
    border: 4px solid black;
    width:350px;
    background-color: #c44569;
 }
#skill3 i{
    position:relative;
    left:100px;
    top:5px;
}
#skill3 h3{
    position:relative;
    left:25px;
}
#skill3 p{
    position: relative;
    left:140px;
}
#skill3:hover{
    position:relative;
    background-color: #fff;
    cursor:pointer;
    transition: all 0.6s ease;
}
/* Skills*/

/* contact*/
.contact p{
    font-size:20px;
}
.contact h1{

text-align: center;
font-size: 80px;
    font-family: 'Abril Fatface', cursive;
}
.phone{
    position: relative;
    left:300px;
}

.phone i{
    position:relative;
    right:50px;
    top:60px;
}
.Telephone{
    position: relative;
    left:300px;
}
.Telephone i{
    position:relative;
    right:69px;
    top:60px;
}
.email{
    position: relative;
    left:300px;
}

.email i{
    position:relative;
    right:69px;
    top:40px;
}

.message{
    position:relative;
}

.form{
    position:relative;
    left:600px;
    bottom:300px;
}
.form{
    font-size:20px;
}
#send{
  position: relative;
  left:125px
}
